* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .1s ease-in-out;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #102542;
}

.mainwrapper {
  position: relative;
  padding: 15px;
  min-width: 450px;
  max-width: 450px;
  min-height: 580px;
  max-height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: .4px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
  background-color: #fff;
}

.mainwrapper > img {
  width: 2.7in;
  height: 2.7in;
}

.header {
  font-size: 45px;
  font-family: 'Times New Roman';
}

.label {
  margin: 15px auto;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 450;
}

#image-container {
  z-index: 1;
  border: .5px solid #000;
  border-radius: 5px;
}

.image_label {
  position: absolute;
  top: 1.7in;
}

.buttons {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-evenly;
}

.images, .quote {
  margin: 15px 5px;
  font-size: 15px;
  padding: 8px 10px;
  outline: none;
  border: .8px solid #000;
  border-radius: 8px;
  background-color: #0941c5;
  cursor: pointer;
}

.images:hover,
.quote:hover {
  color: #fff;
}

.images:focus,
.quote:focus {
  background-color: #0941c5;
  color: #fff;
}

.quote_container {
  margin: 10px 0 0 0;
  text-align: center;
  text-wrap: wrap;
}

.clear-btn {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.remove_img, .remove_quote {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  width: 50%;
  outline: none;
  padding: 10px;
  font-size: 13px;
  font-family: 'Poppins';
  font-weight: 450;
  border-radius: 8px;
  border: .5px solid #000;
  cursor: pointer;
}

.clear-btn > button > i{
  font-size: 15px;
  margin-left: 4px;
}

.remove_img:hover, .remove_quote:hover {
  background-color: #fc1515;
  color: #fff;
}

.name {
  display: flex;
  position: absolute;
  bottom: -45px;
  gap: 175px;
  color: #fff;
}

.quote_container {
  word-wrap: break-word;
}

@media (max-width: 768px) {
  
  .mainwrapper {
    min-width: 300px;
    max-width: 300px;
    min-height: 500px;
    max-height: 500px;
  }

  .header {
    font-size: 30px;
  }

  .label {
    margin: 5px auto;
    font-size: 13px;
  }

  .mainwrapper > img {
    width: 2in;
    height: 2in;
  }

  .image_label {
    top: 1.5in;
    font-size: 12px;
  }

  .quote_container {
    margin: 8px 0 0 0;
    font-size: 14px;
  }

  .images, .quote {
    font-size: 13px;
  }

  .clear-btn {
    gap: 1rem;
  }

  .remove_img, .remove_quote {
    font-size: 11px;
  }

  .clear-btn > button > i {
    font-size: 11px;
  }

  .name {
    font-size: 13px;
    gap: 75px;
    bottom: -30px;
  }
}